*
    margin: 0
    padding: 0
    box-sizing: border-box

#home 
    display: flex
    justify-content: center
    flex-direction: column
    height: 178%
    background-color: #DCDCDC

    header
        height: 40vh
        width: 100%
        position: fixed
        top: 0
        background-image: url("../_background/home_bg.png")
        background-size: cover
        background-position: center

        >div:first-child
            display: flex
            flex-direction: column
            justify-content: space-between
            height: 87%
            border-radius: 0 0 8% 8%
            box-shadow: 0 2px 2px grey

            div
                background-image: url("../_background/_top-bg/IM-esports_bg.png")
                background-size: cover
                background-position: center
                height: 80%
                border-radius: 2vh
        
        >div:last-child
            height: 17%
            margin: 0 5px
            display: flex

            >div
                position: relative
                z-index: 1
                top: 1vh
                background-image: url("../_button/nav-btn.svg")
                height: 10vh
                width: 22vw
                background-repeat: no-repeat

            >p
                align-self: flex-end
                margin-bottom: 10px

nav
    display: flex
    justify-content: center

    ul
        display: flex
        flex-direction: row
        justify-content: space-around
        width: 70%
        height: 100%

    li
        list-style: none
        
        img
            height: 5vh
            width: 8vw

section
    height: 100vh
    width: 100%
    // margin: 71% 0 0 0

    div
        margin: 3% 0 0 0
        display: flex
        justify-content: center
        align-items: center
        flex-direction: column

        
        >img
            margin: 2% 0
            height: 17%
            width: 98%
    
footer
    position: fixed
    z-index: 100
    bottom: 0
    border-radius: 15vw 15vw 0 0
    background-color: whitesmoke
    height: 10%
    width: 100%
    display: flex
    justify-content: center
    align-items: center

    ul
        width: 100%
        display: flex
        justify-content: space-around
        align-items: center
        flex-direction: row
        list-style: none

        li
            height: 10%
            width: 10%
